node_modules/
mobile-web/
dist/
release/
release-splash/

build/icon.ico
build/icon.png

*.log
.DS_Store
Thumbs.db
Senha SUPABASE/

android/.gradle/
android/build/
android/local.properties
android/keystore.properties
android/*.keystore
android/*.jks
android/app/build/

# Ignorar APKs por padrão, exceto o da pasta de update
*.apk
!update/*.apk
*.aab
